#moto2{

width: 30%;

}
#cabecalho{
color: darkblue;

}

#cg99{
    
    width: 30%;
}

#xre{

    width: 30%;

}
#video{
width: 30%;

}

#confira{

    color: rgb(17, 0, 255);
}
#paragrafo{

    color: rgb(0, 68, 255);
}








